/* CSS Document */
	
* {
margin: 0;
padding: 0;
overflow: hidden;
font-family:'Segoe UI',Arial, Helvetica, sans-serif;
}
@font-face{
	src: url(../font/Bazar.ttf);
	font-family: bazar;
}
body{
	background-attachment:fixed;
background-image: url(../../img/bg_mini.jpg);
background-repeat:no-repeat;
width: 100%;
height: 100%;
}
#container {
   width:100%;
   height:100%;
}
 #content{
	 width:800px;
	 height:500px;
	 margin-left:25px;
  }

.roof{
	height: 150px;
	width: 100%;
	top:0;
}
.btn {
	color: #FFF;
	width: 100px;
	height: 20px;
	background: #BFE04B;
	border-bottom: 3px solid rgba(0,0,0,0.2);
	border-radius: 7px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px;
	float: left;
	margin: 0px 5px;
}
.btn:hover {
	border-top: 3px solid rgba(0,0,0,0.2);
	border-bottom: none;
}

.headmenu{
	cursor: pointer;
	height: 30px;
	padding: 10px;
	border-radius: 5px;
	border-bottom: 4px solid #eaeaea;
	margin-bottom: 5px;
	background: #f8f8f8;
	width: 100%;
	top:0;
	position:absolute;
}
.television{
	background: url(../images/tv.png) no-repeat;
	height: 569px;
	width: 850px;
	position: absolute;
	left:0;
	right:0;
	margin: 0px auto;
	top: 170px;
	z-index: 1;
}
#content {
	margin-top:30px;
	width:800px;
	height:500px;
}
.learn{
	background:url(../images/buku2.png) no-repeat;
	width: 200px;
	height: 200px;
	margin: 5px;
}
.exercise{
	background:url(../images/pencil.png) no-repeat;
	width: 200px;
	height: 200px;
	margin: 5px;
}
.primary_btn {
	float:left;
}

.button_group{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	width:420px;
}
.nav {
	margin-top: 100px;
	padding:0px 50px; 
}

h2{
		margin-top: 10px;
		text-align:center;
	}
 	.item{
		margin: 0px 50px 0px 5px;
		float:left;
		color: #FFF;
		height:auto;
		width:720px;
	}
	.item img {
		margin :0 auto;
		/*margin-left:325px;*/
		margin-right:10px;
		}
 	.slider {
		margin-top:20px;
		heigth:600px;
		width:800px;
		overflow:hidden;
	}
	.content-slider{
		margin-left:0;
		width:9999999px;
		height:250px;
	}
	.prev{
		cursor: pointer;
		background: url(../images/prev.png);
		width: 124px;
		height: 67px;
		float: left;
		margin-left: 5px;
	}
	.next{
		cursor: pointer;
		background: url(../images/next.png);
		width: 124px;
		height: 67px;
		float: right;
		margin-right: 5px;
	}
	
	.prev:hover{
		cursor: pointer;
		background: url(../images/prev.png);
		width: 124px;
		height: 67px;
		float: left;
		margin-left: 5px;
	}
	.next:hover{
		cursor: pointer;
		background: url(../images/next.png);
		width: 124px;
		height: 67px;
		float: right;
		margin-right: 5px;
	}
	
.ballon{
	/*background:url(../images/gamemenu3.png) no-repeat;*/
	width: 200px;
	height: 200px;
	margin: 5px;
}
.btnexercise{
	-webkit-transition:-webkit-transform 0.5s;
	-moz-transition:-moz-transform 0.5s;
	-o-transition:-o-transform 0.5s;
	-ms-transition:-ms-transform 0.5s;
}

.btnexercise:hover{

	width: 200px;
	height: 200px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	margin: 5px;
}
.memory{
	background:url(../images/gamemenu4.png) no-repeat;
	width: 200px;
	height: 200px;
	margin: 5px;
}
.drag{
	background:url(../images/gamemenu1.png) no-repeat;
	width: 200px;
	height: 200px;
	margin: 5px;
}
.alphabet{
	background:url(../images/gamemenu2.png) no-repeat;
	width: 200px;
	height: 200px;
	margin: 5px;
}

/*added style from @eka_nur*/
#img-back{
	border:solid;
	border-width: 3px;
	border-color: #222;
	border-radius: 50%;
	padding:0px;
	margin-top: 10px;
}

#img-back:hover{
	background-color: #bbb;
}

#title{
	font-weight: 900;
	padding: 0px 0px;
	
}

#title h1{font-size: 30px;
margin:5px;
color:#2672EC;}

.btn{
	height: auto !important;
}